// font //
$ff-main: 'Raleway', sans-serif;

// font size//
$fs-main: 1.4rem;
$fs-sub: 1.2rem;

// font weight//
$fw-400: 400;
$fw-700: 700;

// border radius //
$br-download: 1.5rem;

// color //
$color-main: hsl(243, 100%, 93%);
$color-sub: hsl(229, 7%, 55%);
$color-bg: hsl(229, 57%, 11%);
$color-bgcard: hsl(228, 56%, 26%);
$color-gradient: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));












